/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-family: 'bpicons';
    src:url('../fonts/bpicons/bpicons.eot');
    src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bpicons/bpicons.woff') format('woff'),
        url('../fonts/bpicons/bpicons.ttf') format('truetype'),
        url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
    font-weight: normal;
    font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { /* -webkit-box-sizing: border-box; */ -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    background: #fff;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.jumbotron {
    text-align: center;
    margin: 0;
    background-image: url('../images/bcg_slide-1.jpg');
    background-size: cover;
    background-position-y: -300px; 
    background-repeat: no-repeat;
    height: 450px;    
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 10em;
}

.jumbotron h1 {    
    color: #fff;
    font-size: 5em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    font-weight: 400;
}

.jumbotron p {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
}

#footer {
    color: #fff;
    background: #47a3da;
    height: auto;
    padding: 10px 0;
    margin:0;
    overflow: hidden;
    position: relative;   
    box-shadow: 0px -15px 15px 15px #47a3da;
}

.footer_inner {
    float: left;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.footer-section {
    vertical-align: top;
    margin-top: 0;
    padding: 1em;
    display: inline-block;
    width: 33%;
}

.footer-section h2 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}

.footer-section p {
    font-size: 1em;
    font-weight: 300;
    padding: 0 2em;
}

.footer-section .map-batna {
    overflow: hidden;
    height: 300px;
    width: 90%;
    background-image: url('../images/batna_map.png');
}

.footer-section li a:hover {
     color: #fff;
}

#footer hr {
    border: 0;
    border-top: 1px solid #eee;
    width: 800px;
    margin: 20px auto;
}

#footer .print {
    text-align: center;
    font-size: 1.225em;
    font-weight: 300;
}

#footer .print a:hover {
    color: #fff;
}
@media screen and (max-width: 55em) {

    .container > header h1,
    .container > header nav {
        float: none;
    }

    .container > header > span,
    .container > header h1 {
        text-align: center;
    }

    .container > header nav {
        margin: 0 auto;
    }

    .container > header > span {
        text-indent: 30px;
    }
}
